#oustanding__project {
  width: 80%;
  margin: 10px auto 50px auto;
}

.projects__link {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.projects__link p {
  color: gray;
  font-size: 14px;
}

.projects__link a,
.projects__link i {
  font-weight: 600;
  color: black;
}

.projects__link i {
  margin-left: 6px;
}

.project__cards {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.project__card {
  width: 240px;
  height: 350px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.project__card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(25, 15, 83, 0.534);
}

.project__card img {
  height: 200px;
  object-fit: cover;
  width: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__header {
  height: 200px;
  position: relative;
}

.card__header p {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.815);
  padding: 6px;
  border-radius: 10px;
  font-size: 13px;
}

.card__body {
  padding: 10px;
}

.card__body * {
  margin: 10px 0;
}
.card__body h5 {
  color: rgb(16, 16, 65);
  font-size: 18px;
}

.card__body p {
  font-size: 12px;
  color: gray;
}

.card__body strong {
  color: rgb(100, 100, 100);
}
